jupyter==1.0.0
matplotlib==2.2.3
nltk==3.3
numpy==1.15.1
scikit-learn==0.19.1
scipy==1.1.0
torch==0.4.1
torchvision==0.2.1
ekphrasis==0.4.10
ftfy==5.5.0
ujson==1.35
colorama==0.3.9
termcolor==1.1.0
tensorflow>=1.5.0
tensorboardX==1.4
pandas=0.23.4

